<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--医院编号-->
    <add key="hospitalNo" value="H00000006"/> 
    <!--数据库连接参数.SQL Server-->
    <add key="dbConnSql" value="Server=.;Database=DGSCP;User id=DGSCP;Password=DGSCP2018@)!*;Max Pool Size=32767;Enlist=true"/>
    <!--数据库连接参数.SQL Server.病理-->
    <add key="dbConnSqlBl" value="Server=10.37.0.24;Database=PathologyXP;User id=sa;Password=cs123;Max Pool Size=32767;Enlist=true"/>
    <!--数据库连接参数.Oracle-->
    <add key="dbConnOra" value="Data Source=icare;User id=icare;Password=fftic;Max Pool Size=512;Enlist=true"/>
    <!--执行时间点 小时:分钟, 多个用分号隔开-->
    <add key="execTimePoint" value="14:02;14:12"/>
    <!--补漏执行日期，多个用分号隔开-->
    <add key="execDate" value="2019-04-01"/>
  </appSettings>
</configuration>